{{- $font               := .Site.Params.font }}
{{- $fontFamily         := $font.family }}
{{- $fontSizes          := $font.sizes }}
{{- $fontAwesomeVersion := .Site.Params.assets.fontAwesomeVersion }}
{{- $fontUrl            := printf "https://fonts.googleapis.com/icon?family=%s:%s" (replace $fontFamily " " "+") (delimit $fontSizes ",") }}
{{- $fontAwesomeUrl     := printf "https://use.fontawesome.com/releases/v%s/css/all.css" $fontAwesomeVersion }}
@charset "utf-8"
@import url({{ $fontUrl }})
@import url({{ $fontAwesomeUrl }})

// TiKV variables
$tikv-red: #ed1a3b
$tikv-blue: #353558
$docs-top-margin: 1.5rem

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Bulma variable overrides
$red: $tikv-red
$blue: $tikv-blue
$primary: $red
$secondary: $blue
$link: $red
$navbar-burger-color: $blue
$family-sans-serif: "{{ $fontFamily }}", sans-serif

@import "bulma/sass/utilities/derived-variables"

@import "bulma/bulma"

.is-home-logo
  @extend .image
  margin: 0 auto
  min-width: 40%
  max-width: 50%

.is-docs-article
  margin-top: $docs-top-margin

.has-text-red
  color: $red

.content
  figure
    figcaption
      font-style: normal
      font-size: 1.25rem
      font-weight: bold

.footer
  &.is-dark
    background-color: $secondary

    a
      color: $white
      font-size: 1.1rem

      &:hover
        color: $grey-light

.is-footer-image
  max-width: 20%

.page
  display: flex
  flex-direction: column
  min-height: 100vh

  .main
    flex: 1
