{{- $year      := now.Year }}
{{- $logo      := printf "img/logos/%s" .Site.Params.logos.footer | relURL }}
{{- $docs      := where .Site.RegularPages "Section" "docs" }}
{{- $blogPosts := where .Site.RegularPages "Section" "blog" }}
{{- $versions  := sort (readDir "content/docs") "Name" "desc" }}
{{- $latest    := (index $versions 0).Name }}
<footer class="footer is-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <img class="image is-footer-image" src="{{ $logo }}">
      </div>

      <div class="column">
        <h5 class="is-size-5 has-text-weight-bold has-text-white">
          Docs
        </h4>
        
        <hr class="hr has-background-primary">

        <ul>
          {{- range $docs }}
          {{- $version  := index (split .File.Path "/") 1 }}
          {{- $isLatest := eq $version $latest }}
          {{- if $isLatest }}
          <li>
            <a href="{{ .URL }}">
              {{ .Title }}
            </a>
          </li>
          {{- end }}
          {{- end }}
        </ul>
      </div>

      <!--
      <div class="column">
        <h5 class="is-size-5 has-text-weight-bold has-text-white">
          Blog
        </h4>

        <hr class="hr has-background-primary">

        <ul>
          {{- range $blogPosts }}
          <li>
            <a href="{{ .URL }}">
              {{ .Title }}
            </a>
          </li>
          {{- end }}
        </ul>
      </div>
      -->

      <div class="column">
        <h5 class="is-size-5 has-text-weight-bold has-text-white">
          Project
        </h4>

        <hr class="hr has-background-primary">

        <ul>
          <li>
            <a href="/adopters">
              TikV Adopters
            </a>
          </li>
        </ul>
      </div>
    </div> <!-- columns -->

    <div class="has-text-centered">
      <span class="has-text-grey-light">
        &copy; {{ $year }} TiKV Authors
      </span>
    </div>
  </div> <!-- container -->
</footer>
