{{ define "main" }}
{{- $shortDesc := .Site.Params.description.brief | markdownify }}
{{- $longDesc  := .Site.Params.description.long | markdownify }}
{{- $logo      := printf "img/logos/%s" .Site.Params.logos.home | relURL }}
{{- $cncfLogo  := "img/logos/cncf-color.png" | relURL }}
{{- $features  := .Site.Data.features }}
{{- $versions  := sort (readDir "content/docs") "Name" "desc" }}
{{- $latest    := (index $versions 0).Name }}
<section class="hero">
  <div class="hero-head">
    {{ partial "navbar.html" . }}
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="is-home-logo" src="{{ $logo }}">

      <br />

      <p class="title is-size-1-desktop is-size-3-touch is-spaced">
        <span class="has-text-weight-bold">
          {{ .Site.Title }}
        </span>
        
        <span class="has-text-primary has-text-weight-bold">:</span>

        <span class="has-text-grey has-text-weight-light">
          {{ $shortDesc }}
        </span>
      </p>

      <p class="subtitle is-size-3 is-size-4-tablet is-size-5-mobile">
        {{ $longDesc }}
      </p>

      <div class="buttons is-centered">
        <a class="button is-medium is-rounded is-large is-primary" href="/docs/{{ $latest }}/getting-started">
          Getting started
        </a>
        <a class="button is-medium is-rounded is-large is-primary" href="/docs/{{ $latest }}/architecture">
          Architecture
        </a>
        <a class="button is-medium is-rounded is-large is-primary" href="/docs/{{ $latest }}/apis">
          APIs
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-primary">
  <div class="container">
    <div class="columns">
      {{- range $features }}
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ .name }}
            </p>
            {{- with .icon }}
            <a href="#" class="card-header-icon">
              <span class="icon">
                <i class="fas {{ . }}" aria-hidden="true"></i>
              </span>
            </a>
            {{- end }}
          </header>
          {{- with .description }}
          <div class="card-content">
            <div class="content">
              {{ . | markdownify }}
            </div>
          </div>
          {{- end }}
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <p class="title is-size-4 is-size-5-mobile">
     TiKV is a <a>Cloud Native Computing Foundation</a> member project
    </p>

    <img class="image is-cncf-logo" src="{{ $cncfLogo }}">
  </div>
</section>
{{ end }}
